<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <p-floatlabel variant="on">
      <input class="w-full" pInputText id="email" formControlName="email" autocomplete="off" />
      <label for="email" class="block mb-2">
        Email <span class="required">*</span>
      </label>
    </p-floatlabel>
  </div>

  <div class="field">
    <p-floatlabel variant="on">
      <p-password fluid inputId="password" formControlName="password" [toggleMask]="true" />
      <label for="password">Contraseña <span class="required">*</span></label>
    </p-floatlabel>
  </div>

  <div class="field-checkbox">
    <p-checkbox formControlName="rememberMe" [binary]="true" inputId="rememberMe"></p-checkbox>
    <label for="rememberMe" class="ml-2">Recordarme</label>
  </div>

  <div class="field">
    <p-button type="submit" label="Iniciar Sesión" icon="pi pi-sign-in" [loading]="loading" [disabled]="loading"
      styleClass="w-full p-button-lg"></p-button>
  </div>

  <div class="field text-center">
    <a class="recovery-link" (click)="goToPasswordRecovery()" tabindex="0">¿Olvidaste tu contraseña?</a>
  </div>
</form>

<p-toast position="top-right" [life]="5000"></p-toast>
